{% extends "observo/base.html" %}

{% block title %}Détail d'une observation{% endblock %}
{% block h1 %}Observation n°{{ observ.id }}{% endblock %}

{% block content %}
<style>
  .subtitle { color:#6b7280; margin-bottom: 18px; }
  .field { margin-bottom: 10px; font-size: 16px; }
  .label { font-weight: 600; }
</style>

    <div class="field">
      <span class="label">Animal observé :</span>
      {{ observ.animal.nom_commun }}
    </div>

    <div class="field">
      <span class="label">Date et heure :</span>
      {{ observ.date_heure }}
    </div>

    <div class="field">
      <span class="label">Localisation GPS :</span>
      Latitude {{ observ.latitude }} – Longitude {{ observ.longitude }}
    </div>

    <div class="field">
      <span class="label">Description :</span><br>
      {{ observ.description }}
    </div>

<p style="margin-top:20px;">
  <a class="link" href="{% url 'home' %}">← Retour à l'accueil</a>
</p>

{% endblock %}